@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz@8..144&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&display=swap');

:root {
    --main-bg-color: brown;
    --font1: 'Baloo Bhaina 2', cursive;
    --font2: 'Roboto Flex', sans-serif;

}
.font1{

    font-family: var(--font1);
}
.font2{
    font-family: var(--font2);
}
.max-width-1 {
    max-width: 90vw;
}

.max-width-2 {
    max-width: 60vw;
}

.m-auto {
    margin: auto;
}

.btn {
    border:3px solid black;
    border-radius:  6px;
    font-family: var(--font1);
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.m-y-2{
    margin-top: 32px;
    margin-bottom: 32px;
}

.btn:hover{
    color: white;
    background-color: var(--main-bg-color);
}

.form-input {
    
    /* padding-left: 3px; */
    width: 10vw;
    font-size: 16px;
    border: 3px solid black;
    margin: 0, 11px; 
    font-family: var(--font1);
}
.form-box input,textarea{
    width:52vw;
    padding: 0px 6px;
    margin: 7px 0;
    font-size: 18px;
    font-family: var(--font1);
}